<h1>New Feed</h1>
<form class="new-feed">
  <label>Title
    <input type="text" name="title" value="">
  </label>
  <label>URL
    <input type="text" name="url" value="">
  </label>
  <input class="submit-new" type="submit" value="Submit">
</form>
